.app-container {
  width: 100vw;
  height: 100vh;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 30%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.6); /* 살짝 투명 */
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.chat-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.input-row {
  display: flex;
  gap: 10px;
}

.input-row input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.input-row button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #6b5b95;
  color: white;
  cursor: pointer;
}

.my-message {
  color: black;
  display: flex;
  flex-direction: row;
}

.other-message {
  color: blue;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
